#container {
  position: relative;
  width: 1024px;
  height: 1024px;
  overflow: hidden;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-image: repeating-radial-gradient(
    circle,
    black,
    black 20px,
    white 20px,
    white 40px
  ); */
}

.petal {
  position: absolute;
  left: 50%;
  top: 50%;
  border: solid 1px black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
}

.tp-fldv_c {
  padding: 4px;
}
