#container {
  position: relative;
  width: 1024px;
  height: 1024px;
  overflow: hidden;
  background-color: antiquewhite;
}

.petal {
  position: absolute;
  box-sizing: content-box;
  left: 50%;
  top: 50%;
  /* border: var(--stroke-width) solid var(--border-color); */
}

.group {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
}
